/* Styling for the page background */
body {
    background-color: #f7f7f7;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Styling for the header */
h1 {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
}

/* Centering the form container */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the form input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

/* Styling for the "Add User" button */
input[type="submit"] {
    background-color: #27ae60;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #1e8449;
}

/* Styling for the "Get User" button */
input[type="button"] {
    background-color: #e67e22;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #d35400;
}

/* Styling for the label with expresponse */
label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
}

/* Styling for the table */
table {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styling for table headers */
th {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
}

/* Styling for table rows */
tr {
    text-align: center;
}

/* Styling for the "Update" and "Delete" buttons */
button {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
